.subTitle {
    text-align: center;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 40px;
}

.instructions {
    text-align: center;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 20px;
}

