.footerContainer {
    padding-top: 15px;
    border-top: 2px solid black;
    background-color: #aac8d9;
    /*position: fixed;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.linksContainer {
    color: #52575a;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
}

.socialMediaContainer {
    text-align: center;
}

.socialImg {
    width: 60px;
    height: 60px;
}

.copyright {
    text-align: left;
    font-family: 'Merriweather', serif;
    margin-left: 30px;
    padding-top: 15px;
    color: #52575a;
}

.footerLink {
    color: #52575a;
}

.footerLink:hover {
    color: black;
}

@media screen and (max-width: 800px) {

    .socialImg {
        width: 40px;
        height: 40px;
    }

    .linksContainer,
    .copyright {
        font-size: 12px;
    }

}
