.nav {
    list-style-position: inside;
}

.navMenuTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}

.navMenuTitle:hover {
    text-decoration: underline;
    color: #52575a;
}

.menuCategory {
    text-align: center;
    font-weight: lighter;
}

.menuTitle {
    /*padding-top: 8%;*/
    /*margin-left: 20%;*/
    color: white;
}

.scrollit {
    overflow: scroll;
    /*margin-left: 20%;*/
    color: white;
    height: 47vh;
    margin-bottom: 40px;
    /*width: 60%;*/
}

.menuWrapper {
    padding: 30px;
    height: 100%;
}
