.nav {
    list-style-position: inside;
}

.navMenuTitle {
    margin-top: -10px;
    font-size: x-large;
    color: #f7f2b0;
    font-family: 'Patrick Hand SC', cursive;
    opacity: .9;
}

.navMenuTitle:hover {
    text-decoration: underline;
}

.menuCategory {
    text-align: center;
    font-weight: lighter;
}

.menuTitle {
    color: #c4d7e2;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
}

.menuNav {
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px;
}

.scrollit {
    overflow: scroll;
    color: #ecebe9;
    margin-top: 15px;
    margin-bottom: 40px;
}

.menuWrapper {
    padding-top: 20px;
    width: 90%;
}

.menuItemTitle {
    font-size: 38px;
    font-weight: bold;
    color: #f07e56;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: -10px;
    opacity: .9;
}

.menuItemPrice {
    font-size: larger;
    margin-bottom: 0px;

}

.menuItemDescript {
    font-size: larger;
    font-weight: lighter;
    font-family: 'Handlee', cursive;

}

@media screen and (max-width: 980px) {

    .menuTitle {
        font-size: 24px;
        text-align: center;
    }

    .menuWrapper {
        padding-top: 30px;
        margin-left: 7px;
        width: 84%;
    }
    .scrollit {
        overflow: scroll;
        height: 80vw;
    }

    .navMenuTitle {
        border: none;
        font-size: 13px;
    }


}
