.contactEventsLeft {
    text-align: center;
}

.navTitle {
    font-weight: bold;
    font-size: larger;
    font-size-adjust: inherit;
    color: #52575a;
    font-family: 'Fjalla One', sans-serif;
}

.navTitle:hover {
    text-decoration: underline;
    color: #52575a;
}

.roomHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.eventAddress {
    text-align: center;
    font-weight: lighter;
    border: 1px solid black;
    padding: 20px;
}

.roomRules {
    font-size: 12px;
}


@media screen and (max-width: 800px) {
    .navTitle {
        padding-right: 25px;
        padding-left: 25px;
    }

    .locationInfo {
        text-align: center;
    }
}
