.contactEventsLeft {
    text-align: center;
}

.navTitle {
    font-weight: bold;
    font-size: medium;
    font-size-adjust: inherit;
    text-decoration: underline;
}


.roomHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.eventAddress {
    text-align: center;
    font-weight: lighter;
    border: 1px solid black;
    padding: 20px;
}

.roomRules {
    font-size: 12px;
}