#MainPanel {
    border: 2px solid #f5ef90;
    margin: 25px 20px 50px 20px;
    padding: 40px;
    background-color: #ecebe9;
}

#CardTitle {
    margin-bottom: 50px;
}

#MenuPanel {
    padding: 13% 9% 30% 19%;
    background-image: url("./menu-frame.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 60vw;
    background-size: 100%;
    position: relative;

}
