#MainPanel {
    border: 2px solid #f5ef90;
    margin: 25px 20px 30px 20px;
    padding: 40px;
    background-color: #ecebe9;
}

#MenuPanel {
    padding: 13% 9% 30% 19%;
    background-image: url("./menu-frame.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 63vw;
    background-size: 100%;
    position: relative;
}

@media screen and (max-width: 800px) {
    #MenuPanel {
        background-image: url("./mobile-frame.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 170vw;
    }
}
