.navbar-light .navbar-nav .nav-link {
    /*color: #52575a;*/
    font-size: 28px;
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black;
}


#NavBar {
    color: black;
    margin-top: 30px;
}

.navWrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    padding: 10px;
    margin-left: -250px;
}

.logo {
    width: 50%;
    height: 50%;
}

.wrap {
    display: flex;
    justify-content: center;
}

.navbar-collapse {
    flex-grow: 0;
}

@media screen and (max-width: 800px) {
    .navWrapper {
        margin-left: -10px;
    }
}
